* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none !important;
  scroll-behavior: smooth;
}

#app {
  max-width: 100%;
  min-height: 100vh;
  padding-top: 8rem;
  overflow-x: hidden;
  color: $black;
  font-size: 16px;
  font-family: 'Circe', sans-serif;

  @include onLoadTransition;

  @include mobileS {
    padding-top: 5rem;
  }
}

.container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

a,
a:visited,
a:active {
  color: $black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s linear;

  &:hover {
    color: $green;
  }
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.btn {
  display: inline-block;
  margin: auto;
  font-family: 'Circe', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff !important;
  padding: 0.5rem 4rem;
  background: $gradient-green;
  border-radius: 1.25rem;
  background-size: 100% 100%;
  box-shadow: 0 8px 24px rgba(0, 185, 10, 0.3);
  cursor: pointer !important;

  &:hover {
    color: #fff;
    background-size: 150% 150%;
    box-shadow: 0 16px 24px rgba(0, 185, 10, 0.3);
    transition: 0.2s linear;
  }

  @include mobileS {
    font-size: 1.25em;
    padding: 0.5rem 3rem;
  }
}

.btn-false {
  background: $gradient-tomato;
  box-shadow: 0 8px 24px rgba(255, 0, 2, 0.3);

  &:hover {
    box-shadow: 0 16px 24px rgba(255, 0, 2, 0.3);
  }
}

section {
  padding: 2rem;

  .section-header {
    max-width: 72rem;
    margin: 0 auto 3rem auto;

    h1 {
      display: none;
    }

    h2,
    h3 {
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 0 1rem 2rem;
    }

    h2 {
      font-size: 4em;
    }

    h3 {
      font-size: 3em;
    }

    p {
      max-width: 52rem;
      font-size: 1.5em;
    }

    @include laptop {
      h2,
      h3 {
        line-height: 4rem;
      }
    }

    @include tabletM {
      h2,
      h3 {
        font-size: 2.5em;
        line-height: 2.5rem;
      }
    }

    @include mobileL {
      margin: 0 auto 2rem auto;

      h2,
      h3 {
        font-size: 2.5em;
        line-height: 2rem;
        margin: 0 0 2rem 0;
      }
    }
  }

  @include mobileL {
    padding: 2rem 1.5rem;
  }
}

.description {
  font-size: 1.25em;
  line-height: 1.5em;
  max-width: 52rem;

  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
    margin: 1rem 0 1rem 3rem;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 13.4rem);

  .img-404 {
    position: relative;
    max-width: 48rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0 32px 24px rgba(50, 50, 50, 0.2));
    }

    &::after {
      content: '404';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      font-size: 16em;
      font-weight: 800;
      text-align: center;
      filter: drop-shadow(0 32px 24px rgba(50, 50, 50, 0.1));
    }
  }

  span {
    margin: 1rem 0;
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 1px;
  }

  @include tabletM {
    .img-404::after {
      font-size: 13em;
    }
  }

  @include tabletS {
    .img-404::after {
      font-size: 10em;
    }
  }

  @include mobileL {
    .img-404::after {
      font-size: 8em;
    }

    span {
      font-size: 1.5em;
    }
  }

  @include mobileS {
    height: calc(100vh - 10.4rem);
  }
}

.transition-group {
  position: relative;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.9em;
  color: $gray;
}
