@font-face {
  font-family: 'Circe';
  src: url('../font/CirceExtraLight.eot');
  src: url('../font/CirceExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceExtraLight.ttf') format('truetype'),
    url('../font/CirceExtraLight.woff') format('woff'),
    url('../font/CirceExtraLight.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceLight.eot');
  src: url('../font/CirceLight.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceLight.ttf') format('truetype'),
    url('../font/CirceLight.woff') format('woff'),
    url('../font/CirceLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceItalic.eot');
  src: url('../font/CirceItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceItalic.ttf') format('truetype'),
    url('../font/CirceItalic.woff') format('woff'),
    url('../font/CirceItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceRegular.eot');
  src: url('../font/CirceRegular.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceRegular.ttf') format('truetype'),
    url('../font/CirceRegular.woff') format('woff'),
    url('../font/CirceRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceBold.eot');
  src: url('../font/CirceBold.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceBold.ttf') format('truetype'),
    url('../font/CirceBold.woff') format('woff'),
    url('../font/CirceBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceExtraBold.eot');
  src: url('../font/CirceExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/CirceExtraBold.ttf') format('truetype'),
    url('../font/CirceExtraBold.woff') format('woff'),
    url('../font/CirceExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../font/CirceExtraBoldItalic.eot');
  src: url('../font/CirceExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../font/CirceExtraBoldItalic.ttf') format('truetype'),
    url('../font/CirceExtraBoldItalic.woff') format('woff'),
    url('../font/CirceExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
